<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

   <head>
      <title>Ryan Brubaker</title>
      
      <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>         	
      <link rel='stylesheet' type='text/css' href='/css/site.css' />

      {% block head %}
      {% endblock head %}
   </head>
   
   <body>
      <div id="container">
         <div id="header">
            <h2>Ryan Brubaker</h2>
         </div>
         
         <div id="sidebar">
            <div class="sidebar-link"><a href="http://ryan-brubaker.blogspot.com">Blog</a></div>
            <div class="sidebar-link"><a href="/docs/masters_thesis.pdf">Masters Thesis</a></div>
            <div class="sidebar-link"><a href="http://twitter.com/#!/rmb177">Twitter Feed</a></div>
            <br />
            Online Profiles
            <br />
            <div class="sidebar-link"><a href="https://github.com/rmb177">GitHub</a></div>
            <div class="sidebar-link"><a href="http://news.ycombinator.com/user?id=rmb177">Hacker News</a></div>
            <div class="sidebar-link"><a href="http://www.linkedin.com/in/ryanbrubaker">LinkedIn</a></div>
            <div class="sidebar-link"><a href="http://stackoverflow.com/users/30896/ryan-brubaker">Stack Overflow</a></div>
         </div>
         
         <div id="content-with-sidebar">
            {% block content %}
            {% endblock content %}
         </div>
         
         <div id="footer">
         </div>
      </div>
     
   
   </body>
</html>
