{% extends "base.html" %}

{% block page_title %}
Articles
{% endblock page_title %}

{% block content %}

<h3>Articles</h3>

{% for article in articles %}
   <div class="row post-container">
      <div class="col-md-2"><p><img width="100" height="100" src="{{article.imgUrl}}"/></p></div>
      <div class="col-md-10">
         <a href="{{article.articleUrl}}">{{article.title}}</a>
         <p>
            {{article.intro|safe}}
         </p>
      </div>
   </div>
   <p>
   </p>
{% endfor %}


{% endblock content %}
