{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
   <div class="row">
      <p>My five favorite books listed in no particular order:</p>
   </div>
   
   
   <div class="row post-container">
      <div class="col-md-2"><p><img src="/img/books/dandelion_wine.jpg" /></p></div>
      <div class="col-md-10">
         <p>
            This book perfectly captures life as a young boy. Ray Bradbury's style of writing evokes a 
            magic and nostalgia that takes you back to the innocence of your youth. He also touches
            on themes of family and death that make you appreciate the simple things in life and provide 
            inspiration to stop taking those things for granted.
         </p>
      </div>
   </div>
   
   
   <div class="row post-container">
      <div class="col-md-2"><p><img src="/img/books/shoeless_joe.jpg" /></p></div>
      <div class="col-md-10">
         <p>
            I try to watch <i>Field of Dreams</i> every year before Opening Day of the MLB season. 
            <i>Shoeless Joe</i> has the same magical feel as the movie, but goes deeper into the relationships
            of Ray and his family. And it's all about baseball...how could you go wrong?
         </p>
      </div>
   </div>
   
   
    <div class="row post-container">
      <div class="col-md-2"><p><img src="/img/books/all_the_kings_men.jpg" /></p></div>
      <div class="col-md-10">
         <p>
            I don't remember when I first read this book, but it was likely sometime in college. The
            sense of life portrayed in this book is polar opposite to my personal beliefs now, but the main 
            character resonated with me at the time I read the book. The story itself is riveting and its theme of 
            political corruption is all too accurate.
         </p>
      </div>
   </div>
   
   
   <div class="row post-container">
      <div class="col-md-2"><p><img src="/img/books/the_fountainhead.jpg" /></p></div>
      <div class="col-md-10">
         <p>
            I had to read this book for my AP English class my senior year of high school. Raised in 
            an Evangelical Christian home, I welcomed the moral code Rand presented that wasn't tied to religious ideas 
            I had started to question. The story of a man pressing through all obstacles to fulfill his purpose in 
            life was intoxicating and has stuck with me throughout my life. I've read all of Rand's novels and many 
            of her non-fiction works and consider myself a small "o" objectivist.
         </p>
      </div>
   </div>
   
   
    <div class="row post-container">
      <div class="col-md-2"><p><img src="/img/books/for_whom_the_bell_tolls.jpg" /></p></div>
      <div class="col-md-10">
         <p>
            I read this book in college, the majority of it in a single night when I couldn't sleep and
            couldn't put the book down. Hemingway's concept of a Code Hero really resonates with me and I admired 
            the stoic way in which Robert Jordan goes about his business, knowing what lays in store for him. 
            Topped only by Howard Roark in <i>The Fountainhead</i>, Robert Jordan is my second-favorite character in a novel.
         </p>
      </div>
   </div>

</div>

{% endblock content %}
