{% extends "base.html" %}

{% block page_title %}
Talks
{% endblock page_title %}

{% block content %}

<h3>Talks</h3>

<div class="row post-container">
    <div class="col-md-10">
        <a href="http://eventcenter.commpartners.com/se/Meetings/Playback.aspx?meeting.id=121274">Cyber Security for DSM Programs<a>
        <p>
            A talk on the basics of public/private key cryptography and how we use it at Michaels Energy within our DSM
            rebate processing center.
        </p>
    </div>
</div>

<p>
</p>



{% endblock content %}
