<!DOCTYPE html>
<html lang="en">

   <head>
    
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
      <meta name="author" content="Ryan Brubaker">
      
      <title>
      {% block page_title %}
      {% endblock page_title %}
      </title>

      <!-- Bootstrap Core CSS -->
      <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">

      <!-- Custom CSS -->
      <link href="/css/simple-sidebar.css" rel="stylesheet">
      <link href="/css/site.css" rel="stylesheet">

   </head>

   
   <body>
      <div id="wrapper">
      
         <!-- Sidebar -->
         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
               
               <li class="sidebar-brand">
                  <a href="/">Ryan Brubaker</a>
               </li>
               
               <li>
                  <a href="/books">Favorite Books</a>
               </li>
               
               <li>
                  <a href="https://github.com/rmb177">Github Profile</a>
               </li>
               
               <li>
                  <a href="/docs/masters_thesis.pdf">Master&lsquo;s Thesis</a>
               </li>
               
               <li>
                  <a href="/about">About</a>
               </li>
            </ul>
         </div>
         <!-- /#sidebar-wrapper -->

         <!-- Page Content -->
         <div id="page-content-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">
                     {% block content %}
                     {% endblock content %}
                  </div>
               </div>
            </div>
         </div>
         <!-- /#page-content-wrapper -->
      
      </div>
      <!-- /#wrapper -->

      <!-- jQuery -->
      <script src="/js/jquery-3.1.0.min.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      
      
      {% block scripts %}
      {% endblock scripts %}
   
   </body>
</html>
