{% extends "base.html" %}

{% block content %}

<div>
   <img src="/img/family.jpg" style="display:block; margin: 0 auto;"/>
</div>

<p>I've been developing software professionally since 1999. Outside of work, most of my time is devoted to keeping up 
   with my two active sons. I enjoy watching baseball and getting outdoors in nature. Whenever possible, I try to grab 
   a quiet spot in the house (or my hammock) to read (or listen to) a book from any number of genres that pique my 
   interest.</p>
   
<div class="quote">The purpose of morality is to teach you, not to suffer and die, but to enjoy yourself and live.</div>
<div class="quote-author">Ayn Rand</div>

<div class="quote">The most extraordinary thing in the world is an ordinary man and an ordinary woman and their 
   ordinary children.</div>
<div class="quote-author">G.K. Chesterton</div>

{% endblock content %}
