html,
body 
{
   margin: 0;
   padding: 0;
   background-color: #eeeeee;
}

h3
{
   margin: 0;
   padding: 0;
}

td
{
   padding-top: 10px;
   padding-right: 10px;
   vertical-align: top
}

th
{
   text-align: left;
}

li 
{
   list-style: none;
}

#container 
{
   min-height: 100%;
   position: relative;
}

#header 
{
   padding-left: 10px;
   padding-bottom: 25px;
}

#content
{
   padding-left: 10px;
   padding-bottom: 20px;
   height: 100%;
}

#content-with-sidebar
{
   width: 80%;
   float: right;
}

#sidebar
{  
   padding-left: 10px;
   width: 15%;
   float: left;
}


.sidebar-link
{
   margin-bottom: 5px;
}

.readingList a:link 
{
   text-decoration: none;
	color: #000;
}

.readingList a:visited 
{
   text-decoration: none;
	color: #000;
}

.readingList a:hover 
{
   text-decoration: none;
	color: #0000ff;
}

.bookGroup
{
   margin-bottom: 20px;
}


