{% extends "base.html" %}

{% block page_title %}
Game On
{% endblock page_title %}

{% block content %}

<h3>Game On</h3>

<p>
   <img src="/img/c64.gif" class="post-image-left" />
   I assume that like many developers, I first became interested in computers while playing computer games. Our family owned a 
   Commodore 64 and I can only wonder how many hours I wasted 
   <a href="https://en.wikipedia.org/wiki/Spelunker_(video_game)">collecting cave artifacts</a>, dodging neighborhood obstacles on my 
   <a href="http://en.wikipedia.org/wiki/Paperboy_(video_game)">paper route</a>, and 
   <a href="http://en.wikipedia.org/wiki/The_Seven_Cities_of_Gold_(video_game)">conquering the new world</a>. And the 
   <a href="https://www.youtube.com/watch?v=ZEaBDzp4T7g">theme song to M.U.L.E.</a> will forever be ingrained into my memory 
   (side note: A really interesting 
   <a href="http://www.filfre.net/2013/02/dan-bunten-and-m-u-l-e/">article</a> on the creation of M.U.L.E.).
</p>

<p>
   Unfortunately, I spent all of my time playing games and not learning how to create them. My BASIC knowledge didn’t get past:
   <br />
   <code>10 PRINT "SOME PHRASE FUNNY TO A 12-YEAR OLD"; : GOTO 10</code>
   <br />
   <code>RUN</code>
</p>

<p>
   I’ve always wanted to learn more about game development and decided to start learning some of the basics. I thought a good 
   first step would be looking into collision detection. One quick Google search later and I came across a great 
   <a href="http://www.wildbunny.co.uk/blog/2011/04/06/physics-engines-for-dummies/">post</a> by Paul 
   Firth on that exact topic. I only needed to get halfway through the article to learn how to animate balls bouncing in a box, 
   animate balls bouncing in a rotated box, and to develop a simple game of Pong (source code can be found 
   <a href="https://github.com/rmb177/collision-detection">here</a>). Paul’s 
   <a href="http://www.wildbunny.co.uk/blog/">blog</a> 
   contains a wealth of in-depth information about game creation and I hope to get through many more of his posts.
</p>


<p>
   With the advent of HTML5 canvas and the large number of JavaScript libraries/frameworks supporting it, game development has 
   become accessible to anyone with a modern browser and a text editor. It will be very interesting to see how gaming on the web 
   evolves into the future.
</p>


<br />

<p class="attribution">
Originally published by my former employer, &copy; Art &amp; Logic: <a href="https://artandlogic.com/2013/02/game-on/">Game On</a>
<br />
(image from <a href="https://en.wikipedia.org/wiki/Commodore_64#/media/File:C64_startup_animiert.gif">Wikipedia</a>)
</p>


{% endblock content %}
