{% extends "base.html" %}

{% block content %}

<h3>To Degree or not to Degree</h3>

<p>
   <img src="/img/graduation.png" class="post-image-left" width="135" height="135"/>
   I often wonder if I were a young lad of college age today, whether I would have the gumption to forego college and pursue 
   a programming career right out of high school. Ignoring the fact that my parents would have balked at such a plan, I think 
   a bright kid, a promising idea and a 1-3 year window would be sufficient conditions for an experience as rewarding as 
   pursuing a CS degree.
</p>

<p>
   Such a path does not prevent a person from learning the information they would obtain from a CS program. A quick look around 
   the internet and I’m quite certain I could cover most of my CS curriculum through
   <a href="http://www.khanacademy.org/">Khan Academy</a>, 
   <a href="http://ocw.mit.edu/index.htm">MIT OpenCourseWare</a>, and 
   <a href="https://see.stanford.edu/">Stanford Engineering Everywhere</a>, not to mention other learning resources such as 
   <a href="https://github.com/">GitHub</a> or 
   <a href="http://www.wikipedia.org/">Wikipedia</a>. I wasn’t able to find an 
   equivalent resource for the Arthurian Legend course I took one summer, but my knowledge of Sir Lancelot’s and Guinevere’s love 
   trysts never really helped me sling code.
</p>

<p>
   It wasn’t until my first internship that I learned how to develop software in a real-world context. I didn’t even know source 
   control or bug tracking software existed until that point. Opportunities to work in a team at school were contrived and did 
   little to prepare me for real-world collaboration.
</p>

<p>
   I have yet to experience a situation where it was necessary to write a sorting algorithm or implement a data structure from 
   scratch. I must admit that it took a lecture from a professor before the light bulb went off in my head for implementing 
   recursive functions. But though I’m a better programmer for understanding these concepts, couldn’t one just learn them from 
   free online resources?
</p>

<p>
   <img src="/img/ride_the_wave.jpg" class="post-image-right" width="120" height"120">
   It will be quite a while before my kids are college-aged and it’s inevitable that the education landscape will be quite 
   different at that point. But should either of my children seek to pursue a career in software, I would consider providing them 
   the essentials for a year or two if they were serious about developing an idea they had. Depending on their potential college 
   choices, such a path could end up being a lot cheaper. If their ideas fail they’re left with plenty of time to pursue other ideas 
   and some real-world experience that many companies value more than academic credentials. If they succeed they can take their 
   company public at $38/share for a cool valuation of a $100 billion and support me in my old age.
</p>

<p>
   Related link: <a href="http://www.thielfellowship.org/">The Thiel Fellowship</a>
</p>


<br />
<p>
Originally published by my former employer: &copy; Art &amp; Logic <a href="https://artandlogic.com/2012/05/to-degree-or-not-to-degree-2/">To Degree or not to Degree?</a>
<br />
(image by <a href="http://openclipart.org/detail/94015/graduation-icon-by-nicubunu-94015">nicubunu</a>)
<br />
(image by <a href="http://www.flickr.com/photos/lumaxart/2626681080/">lumaxart</a>)
</p>
{% endblock content %}
